<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mx.cenet.BrujAcel"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>BrujAcel</name>

    <description>
        Práctica de acelerometro y brujula
    </description>

    <author href="https://carlos.igitsoft.com" email="info@igitsoft.com">
        Carlos Celma 
    </author>

    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="portrait" />
        
    <gap:plugin name="org.apache.cordova.device-motion" />
        
</widget>